body {
  transition: 0.5s;
}

body.light {
  background-color: #e8e8e8;
  color: #212121;
}

body.dark {
  background-color: #212121;
  color: #ffffff; /* glavni tekst */
}

body.dark .text-body-emphasis {
  color: #ffffff !important;
}

body.dark .text-body-secondary {
  color: #cccccc !important;
}

body.dark .nav-link {
  color: #ffffff !important;
}

body.dark footer {
  color: #cccccc !important;
}

.sun-icon, .moon-icon{
    display: inline-block;
}

body.dark .sun-icon{
    display: inline-block;
}

body.dark .moon-icon{
    display: none;
}

.sun-icon{
    display: none;
}

form{
  padding: 10px;
}

input{
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  width: 300px;
  border: none;
}

textarea{
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  height: 180px;
  width: 300px;
  border: none;
}

body.dark input{
    background-color: lightgray;
}

body.dark textarea{
    background-color: lightgray;
}

body.dark span{
  color: #ffffff;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
